test
log
logtest
res/res
res/coupled_temp.RData
pgsqlsetup
mongohost


mongod

# large res files
chinacoupled_areasize100_offset50_factor0.1_temp.RData

loggwr

res/europecoupled_areasize60_offset30_factor0.5_temp.RData
res/europecoupled_areasize100_offset50_factor0.5_temp.RData

