[submodule "Data/Entretiens"]
	path = Data/Entretiens
	url = git@github.com:JusteRaimbault/Entretiens.git
[submodule "Docs/Papers/Governance/paper"]
	path = Docs/Papers/Governance/paper
	url = git@github.com:JusteRaimbault/Lutecia-paper.git
[submodule "Docs/WorkingPapers/ThesisSynthesis"]
	path = Docs/WorkingPapers/ThesisSynthesis
	url = git@github.com:JusteRaimbault/ThesisSynthesis.git
[submodule "Models/Utils/Java/ScholarAPI"]
	path = Models/Utils/Java/ScholarAPI
	url = git@github.com:JusteRaimbault/ScholarAPI.git
[submodule "Models/Utils/Python/TwMonitor"]
	path = Models/Utils/Python/TwMonitor
	url = git@github.com:JusteRaimbault/TwMonitor.git
[submodule "Models/Utils/Shell/gitdata"]
	path = Models/Utils/Shell/gitdata
	url = git@github.com:JusteRaimbault/gitdata.git
