

# General
.DS_Store

# AlgoSR
Models/Biblio/AlgoSR/test1/appID
Models/Biblio/AlgoSR/test1/appSecret

# Texpad
*/.textpadtmp/*
.texpadtmp

Models/Biblio/AlgoSR/confRScript.conf

*/.Rhistory
*/.RData

Biblio/Docs
.backups

# R files
.Rhistory
.RData

# large datasets (pop density)
Data/PopulationDensity/raw

# Metropolsim git repo
#Models/Governance

.temp_browser

# OSM large files
Data/OSM
Data/OSMTest/data

# Insee data
Data/INSEE/Population/RP19682008_individus_dbase


# intelijID config files
.idea

Models/Synthetic/Density/tmp
Models/Synthetic/Density/log_expl
Models/Synthetic/Density/pop

missfont.log

