reflexivity_network_50000_eth10_nonfiltdico.RData
citation.RData
nwterrit_probas_10000_eth10_nonfiltdico_kmin0_kmax500_freqmin0_freqmax10000_eth10
modelography_network_1000_eth5_nonfiltdico.RData
modelography_probas_1000_eth5_nonfiltdico_kmin0_kmax500_freqmin0_freqmax10000_eth15
semantic.RData
nwterrit_network_10000_eth10_nonfiltdico.RData

